.App {
  text-align: center;
}


.html body{
  position: relative;
  overflow: hidden;
  height: 100%;
  width:100%;

}

#root{
  position: relative;
  overflow: hidden;
  height: 100%;
  width:100%;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.ory-controls-mode-toggle-control-group{

  z-index:1500 !important;
}

.settings-button{


position: absolute;
margin: 16px;

}


.scroll{


  overflow: scroll;
}

.scroll-y{
  overflow-y: scroll;
}


.scroll-x{
  overflow-x: scroll;
}


.no-scroll{
overflow:hidden;

}
