/*!
 * This file is part of ORY Editor.
 *
 * ORY Editor is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * ORY Editor is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with ORY Editor.  If not, see <http://www.gnu.org/licenses/>.
 *
 * @license LGPL-3.0
 * @copyright 2016-2018 Aeneas Rekkas
 * @author Aeneas Rekkas <aeneas+oss@aeneas.io>
 *
 */

.ory-plugins-content-image {
    width: 100%;
}

.ory-plugins-content-image-placeholder {
    position: relative;
    width: 100%;
    text-align: center;
}

.img-bay-form-image-list-container {
    position: relative;
    height: 200px;
    overflow: hidden;
    width: 350px;
    flex: 1;
}

.img-bay-image-src-container {}


.img-bay-upload-preview-area{

    position: relative;
    max-height: 300px;

}

.img-bay-image-src-container img {

    position: relative;
    width:100%;
    margin: 10px;
}

.img-bay-form-image-list-scroll {
    position: relative;
    width: 100%;
    overflow: scroll;
    flex: 1;
    
}

.img-slider-form-image-src-container {
    position: relative;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.img-slider-form-actions span {

    position: relative;
    margin: 0 20px;
}

.img-slider-form-actions {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    color: black;
    align-items: center;
}


.bay-image {


    position: relative;
}