

.flex-row-center-vert {
    display: flex;
    flex-direction: row;
    align-items: center !important;
}

.flex-row-center-hori {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-col-center-hori {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-col-center-vert {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-col-center-both {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row-space-around{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

