.flex-table {

    position: relative;
    margin: 10px;
    flex:1;
    width:100%;

}

.flex-table td {

    position: relative;
    text-align: center;

    padding: 10px;
}

.flex-table tr {

    position: relative;
    border-bottom: 1px solid black;
}

.flex-table th {

    position: relative;
    text-align: center;
}