.wholeView {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.showView {
    position: relative;
    flex: 1;
    height: 100%;
    overflow: hidden;
}

.scrollView{

    position: relative;
    height:100%;
    width:100%;
    overflow: scroll;
    
}